@font-face {
  font-family: 'arodoraPro-Light';
  src: url('../fonts/arodoraPro-Light.woff2') format('woff2'),
     url('../fonts/arodoraPro-Light.woff') format('woff'),
     url('../fonts/arodoraPro-Light.ttf') format('truetype');

     font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'next-art_Bold';
  src: url('../fonts/next-art_Bold.woff2') format('woff2'),
     url('../fonts/next-art_Bold.woff') format('woff'),
     url('../fonts/next-art_Bold.ttf') format('truetype');

     font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'next-art_Regular';
  src: url('../fonts/next-art_Regular.woff2') format('woff2'),
     url('../fonts/next-art_Regular.woff') format('woff'),
     url('../fonts/next-art_Regular.ttf') format('truetype');

     font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'next-art_SemiBold';
  src: url('../fonts/next-art_SemiBold.woff2') format('woff2'),
     url('../fonts/next-art_SemiBold.woff') format('woff'),
     url('../fonts/next-art_SemiBold.ttf') format('truetype');

     font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Audiowide-Regular';
  src: url('../fonts/Audiowide-Regular.woff2') format('woff2'),
     url('../fonts/Audiowide-Regular.woff') format('woff'),
     url('../fonts/Audiowide-Regular.ttf') format('truetype');

     font-weight: 400;
    font-style: normal;
    font-display: swap;
}