*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: "arodoraPro-Light", sans-serif;
  font-weight: 300;
  color: $color-text;
  background-color: $color-grayBg1;
line-height: 21.38px;

}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  list-style: none;
}

button{
  border: none;
  background-color: transparent;
  transition: .3s;
  cursor: pointer;
}

input, textarea{
  border: none;
  outline: none;
  transition: .2s;
}