.skills {
	position: relative;
	background-color: $color-grayBg2;

	.skills__inner {
		position: relative;
		display: grid;
		width: 100%;
		grid-template-columns: repeat(auto-fit, 270px);
		grid-auto-rows: 120px;
		justify-content: center;

		gap: 30px 40px;
		padding-top: 113px;
		padding-bottom: 136px;
	}
}

.skill {
	padding: 60px 20px 40px;
	display: grid;
	grid-template-rows: subgrid;
	grid-row: span 2;
	gap: 50px;
	justify-items: center;
	align-items: center;

	background-color: $color-grayBg1;
	border-radius: 29px;
	box-shadow: 0px 4px 6px 0px $color-grayBg1-shadow;
	transition: 0.3s;

	&:hover {
		scale: 1.05;
		box-shadow: 0px 4px 12px 0px $color-grayBg1-shadow;
	}
	
	&__text {
		text-align: center;
		font-size: 24px;
		line-height: 28.51px;
	}
}


