$color-text:#E4E4E4;
$color-blue:#00C4F0;
$color-blue-shadow:#00C4F06B;
$color-yellow:#E2A300;
$color-yellow-shadow:#E29E007A;
$color-black:#000;
$color-white:#fff;
$color-white-shadow:#FFFFFF40;
$color-red: rgb(250, 53, 18);

$color-grayBg1:#2A2A2A;
$color-grayBg1-shadow:rgba(0, 0, 0, 0.47);
$color-grayBg2:#414141;
$color-grayBg2-shadow:rgba(31, 31, 31, 0.47);